* {
   margin: 0 auto;
   padding: 0;
}

/*

* PRINCIPAL

*/

a:visited, a:link {
   color: #B81315;
}

#wrapper {
	width: 802px;
	height: auto;
	color: #313131;
	font-family: 'Gisha';
	font-size: 16px;
}

ul li {
	display: inline-block;
	#display: inline;
	_display: inline;
	zoom: 1;
}

#top {
	height: 109px;
	width: 100%;
	background: #fff url('../imagenes/titulo.png') 0 0 no-repeat;
	font-size: 13px;
	text-align: right;
}

#menu {
	width: 100%;
	height: 49px;
	background: #fff url('../imagenes/menu.png') 0 0 no-repeat;
	text-align: center;
	font-family: 'PTSans';
	font-size: 14px;
}

#top a {
	color: #313131;
	text-decoration: none;
}

#menu a {
	color: #9B9B9B;
	text-decoration: none;
}

#top ul {
	list-style-type: none;
	text-decoration: none;
}

#menu ul {
	text-decoration: none;
}

#top ul li {
	text-align: center;
	vertical-align: middle;
	background: url('../imagenes/separador.png') left center no-repeat;
	width: 134px;
}

#menu ul li {
	width: 134px;
	padding: 13px 0;
	text-align: center;
	vertical-align: middle;
	background: url('../imagenes/separador.png') left center no-repeat;
}

#content #nuevoTitulo {
	background: url("../imagenes/ic_nuevoticket.png") no-repeat scroll left

	center transparent;
	margin-left: 30px;
	padding: 20px 0 20px 75px;
	width: 697px;
}

h1 {
	font-size: 24.5px;
}

h3 {
	font-size: 22px;
}

.rojo {
	color: #B81315;
}

.linea {
	width: 100%;
	height: 5px;
	background: #fff url('../imagenes/linea.png') center center no-repeat;
	margin-bottom: 20px;
}

#labels {
	margin: 0 10px;
}

.select {
	overflow: hidden;
	width: 266;
	background: url('../imagenes/combobox.png') no-repeat;
}

select {
	background: transparent;
	width: 295px;
	height: 39px;
	padding: 10px;
	border: none;
	-webkit-appearance: none;
	margin-bottom: 5px;
}

.texto {
	border: none;
	height: 39px;
	width: 267px;
	background: #fff url('../imagenes/cuadro.png') 0 0 no-repeat;
	padding: 10px;
	margin-bottom: 5px;
}

.texto_chico {
	border: none;
	height: 39px;
	width: 89px;
	background: #fff url('../imagenes/cuadrochico.png') 0 0 no-repeat;
	padding: 10px;
	margin-bottom: 5px;
}

.mensaje {
	border: thin solid;
	border-radius: 10px;
	width: 528px;
	height: 170px;
	padding: 10px;
	margin-bottom: 5px;
}

.arriba {
	vertical-align: text-top;
}

#footer{
	width: 100%;
	height: 41px;
	background: url('../imagenes/piedepagina.png') no-repeat;
	text-align: center;
	color: #9B9B9B;
	padding-top: 13px;
	font-size: 14px;
}

#espacio {
	height: 59px;
	width: 116

}

.boton {
	width: 177px;
	height: 39px;
	background: url('../imagenes/boton.png') no-repeat;
	border: none;
	color: #9B9B9B;
	font-family: 'PTSans';
	font-size: 14px;
	text-align: center;
}

/*

* USUARIOS

*/

div#form_container {
	width: 90%;
	text-align: center;
	margin-bottom: 20px;
}

table {
	width: 100%;
	margin: 20px 0;
	border: 1px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

table.ticket_form td.header {
	background-color: #A6A4A4;
	color: white;
	text-transform: uppercase;
}

table.ticket_form td.subHeader {
	background-color: #313131;
	color: white;
}

table.ticket_form div.alarga_celda {
	padding-right: 228px;
}

table.ticket_form td.table_title {
	background-color: #e1dddd;
	width: 214px;
}

table.ticket_form input.circulo {
	background: url('../imagenes/circulo.png') no-repeat;
	width: 21px;
	height: 23px;
	vertical-align: middle;
}

.curva_derecha {
	border-bottom-left-radius: 10px;
}

.error {
	color: #B81315;
}

.mensaje {
	border: thin solid;
	border-radius: 10px;
	width: 350px;
	height: 92px;
	padding: 10px;
	margin-bottom: 5px;
}	

table.ticket_form td{
	vertical-align: top;
	padding-left: 5px;
	width: 500px;
}

table.ticket_form td.centrado{
	vertical-align: middle;
}

div#mensajes {
	background-color: #B81315;
	color: white;
	height: 32px;
	text-align: left;
	width: 100%;
	text-transform: uppercase;
	margin: 40px 0 0 0;
}

#mensajes p {
	font-family: 'PTSans';
	padding: 6px 0 0 5px;
}

#mensajes p img {
	margin-left: 5px;
}

div#titNewUser {
	margin: 20px 40px;
}

a.miembros {
	background: transparent url('../imagenes/iconos/staff/ic_usergroups.png')center top no-repeat;
	width: 200px !important;
}

a.nuevo_usuario {
	background: transparent url('../imagenes/iconos/staff/ic_addnewuser.png')center top no-repeat;
	width: 200px !important;
}

a.nuevo_cliente {
	background: transparent url('../imagenes/iconos/staff/nuevocliente.png')center top no-repeat;
	width: 200px !important;
}

#listadoUsuarios {
	width:90%;
}

/*

* SUBMENU

*/

.subMenu {
	background-color: #A6A4A4;
	margin-top: -1px;
}

.submenu ul {
	list-style: none;
	text-align: center;
}

.submenu ul li a {
	text-decoration: none;
	color: #313131;
	font-size: 14px;
	font-weight: bold;
	line-height: 70px;
	height: 50px;
	display: block;
	margin: 8px 30px 0;
	width: 86px;
}

/*

* LISTADO TICKETS STAFF

*/

.listado_table th {
	background-color: #A6A4A4;
	color: white;
   padding-left: 5px;
}

.listado_table td {
	padding: 0 5px;
}

#listado {
	width: 90%;
}

a.abierto {
	background: transparent url('../imagenes/iconos/tickets/ic_abierto.png') center top no-repeat;
}

a.cerrado {
	background: transparent url('../imagenes/iconos/tickets/ic_cerrados.png') center top no-repeat;	

}

a.actualizar {
	background: transparent url('../imagenes/iconos/tickets/ic_todos.png') center top no-repeat;
}

a.espera {
	background: transparent url('../imagenes/iconos/tickets/espera.png') center top no-repeat;
}

a.nuevo {
	background: transparent url('../imagenes/iconos/tickets/ic_nuevoticket.png') center top no-repeat;
}

a.atrasado {
	background: transparent url('../imagenes/iconos/tickets/mistickets.png') center top no-repeat;
}

/*

*VISTA TICKET

*/

#tabla_estado p {
	margin: 10px 0 0 10px;
}

.contenedor_resumen {
	float: left;
	width: 401px;
}

#historial {
	margin: 15px 0;
	clear: both;
}

.historial_table div {
	padding-left: 5px;
}

.encabezado {
	background-color: #A6A4A4;
	color: white;
}

.encabezado_staff {
	background-color: #313131;
	color: white;
}

div#respuesta {
	margin-bottom: 50px;
}

#respuesta div {
	margin-top: 10px;
}

#listaTitulo {
	margin: 20px 0 10px 40px;
}

#acciones {
	border: 1px solid;
	background-color: #A6A4A4;
	margin-top: 106px;
	padding: 5px 0 0 5px;
	font-weight: bold;
	height: 43px;
}

#acciones label {
	float: left;
	margin-top: 9px;
	padding-left: 5px;
}

#acciones .select {
	float: left;
	margin-left: 14px;
}

.boton_chico {
	height: 24px;
	width: 50px;
	text-align: center;
	background: transparent url('../imagenes/boton_chico.png') no-repeat;
	border: medium none;
	font-family: 'PTSans';
	font-size: 14px;
	color: #9B9B9B;
	margin: 5px 0 0 5px;
}

.invisible {
	visibility: hidden;
	display: none;
}

/*

* CUENTAS

*/

a.perfil {
	width: 167px !important;
	background: url("../imagenes/iconos/myaccount/id_MyProfile.png") no-repeat scroll center top transparent;
}

a.pref {
	width: 167px !important;
	background: url("../imagenes/iconos/myaccount/ic_preferencias.png") no-repeat scroll center top transparent;
}

a.pass {
	width: 167px !important;
	background: url("../imagenes/iconos/myaccount/ic_changepasswords.png") no-repeat scroll center top transparent;
}

table.noAdorno {
	border: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 20px 0;
	width: 100%;
}

div.titulo {
	margin: 20px 40px;
}

#formularioPerfil {
	margin-left: 10px;
}

td.titulo {
	width: 150px;
} 

#formPass {
	margin-left: 10px;
}

/*
DatePicker
*/

#rangoFechas {
	display: none;
}


/*

* FUENTES

*/

@font-face {
	font-family: 'Gisha';
	src: url('fonts/Gisha/ufontscomgisha.eot');
	src: url('fonts/Gisha/ufontscomgisha.eot?#iefix') format('embedded-opentype'),

	url('fonts/Gisha/ufontscomgisha.woff') format('woff'),

	url('fonts/Gisha/ufontscomgisha.ttf') format('truetype'),

	url('fonts/Gisha/ufontscomgisha.svg#gothic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PTSansBold/pts75f.eot');
	src: url('fonts/PTSansBold/pts75f.eot?#iefix') format('embedded-opentype'),

	url('fonts/PTSansBold/pts75f.woff') format('woff'),

	url('fonts/PTSansBold/pts75f.ttf') format('truetype'),

	url('fonts/PTSansBold/pts75f.svg#gothic') format('svg');
	font-weight: normal;
	font-style: normal;
}