 <IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(index\.php|imagenes|robots\.txt|css|js|ie-css3.htc|docs/tickets/_2*)
    RewriteRule ^(.*)$ ./index.php/$1 [L]
    
</IfModule>  

RewriteCond %{HTTP_HOST} ^soporte\.simbank\.mx$ [OR]
RewriteCond %{HTTP_HOST} ^www\.soporte\.simbank\.mx$
RewriteRule ^/?$ "https\:\/\/simbank\.mx\/soporte" [R=301,L]

