 <IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(index\.php|imagenes|robots\.txt|css|js|user_guide|docs/tickets/|ie-css3.htc)
    RewriteRule ^(.*)$ ./index.php/$1 [L]
    
</IfModule>  