* {
	margin: 0 auto;
	padding: 0;
	behavior: url(ie-css3.htc);
}

body {
	text-align: center;
}

#wrapper {
	width: 802px;
	height: auto;
	color: #313131;
	font-family: 'Gisha';
	font-size: 16px;
	text-align: left;
}

ul li {
	display: inline-block;
	#display: inline;
    _display: inline;
    zoom: 1;
}

#top {
	height: 109px;
	width: 100%;
	background: #fff url('../../imagenes/titulo.png') 0 0 no-repeat;
	font-size: 13px;
	text-align: right;
}

#menu {
	width: 100%;
	height: 49px;
	background: #fff url('../../imagenes/menu.png') 0 0 no-repeat;
	text-align: right;
	font-family: 'PTSans';
	font-size: 14px;
}

#top a {
	color: #313131;
	text-decoration: none;
}

#menu a {
	color: #9B9B9B;
	text-decoration: none;
}

 #top ul {
 	list-style-type: none;
	text-decoration: none;
 }

#menu ul {
	text-decoration: none;
}

#top ul li {
	text-align: center;
	vertical-align: middle;
	background: url('../../imagenes/separador.png') left center no-repeat;
	width: 134px;
}

#menu ul li {
	width: 134px;
	padding: 13px 0;
	text-align: center;
	vertical-align: middle;
	background: url('../../imagenes/separador.png') left center no-repeat;
}

#content #nuevoTitulo {
	background: url("../../imagenes/ic_nuevoticket.png") no-repeat scroll left
				center transparent;
    margin-left: 30px;
    padding: 20px 0 20px 75px;
    width: 697px;
}

h1 {
	font-size: 24.5px;
}

h3 {
	font-size: 22px;
}

.rojo {
	color: #B81315;
}

.linea {
	width: 100%;
	height: 5px;
	background: #fff url('../../imagenes/linea.png') center center no-repeat;
	margin-bottom: 20px;
}

#labels {
	margin: 0 10px;
}

.select {
	width: 268px;
	height: 39px;
	overflow: hidden;
	background: url('../../imagenes/flechacombobox.png') no-repeat right #ccc;
	border: 1px solid #000;
	border-radius: 10px;
	behavior: url(ie-css3.htc);
	/*
	overflow: hidden;
	width: 266px;
	height: 39px;
	background: url('../../imagenes/combobox.png') no-repeat;
	border: 1px none #ccc;
	background-origin: padding-box;
	background-clip: border-box;
	*/
}

select {
	background: transparent;
	width: 284px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	height: 40px;
   -webkit-appearance: none;
/*
	position: absolute;
	background: transparent;
	width: 282px;
	height: 39px;
	padding: 10px;
	border: 0;
	border-radius: 0;
	line-height: 1;
	-webkit-appearance: none;
	margin-bottom: 5px;
	display: inline-block;*/
}

.texto {
	border: none;
	height: 39px;
	width: 267px;
	background: #fff url('../../imagenes/cuadro.png') 0 0 no-repeat;
	padding: 10px;
	margin-bottom: 5px;
}

.mensaje {	 
	border: 1px solid;
	border-radius: 10px;
	width: 528px;
	height: 170px;
	padding: 10px;
	margin-bottom: 5px;
	zoom: 1;
	position: relative;
	behavior: url(ie-css3.htc);
}

.arriba {
	vertical-align: text-top;
}

#footer{
	width: 100%;
	height: 41px;
	background: url('../../imagenes/piedepagina.png') no-repeat;
	text-align: center;
	color: #9B9B9B;
	padding-top: 13px;
	font-size: 14px;
}

#espacio {
	height: 59px;
	width: 116
}

.boton {
	width: 177px;
	height: 39px;
	background: url('../../imagenes/boton.png') no-repeat;
	border: none;
	color: #9B9B9B;
	font-family: 'PTSans';
	font-size: 14px;
	text-align: center;
}

table {
	width: 100%;
	margin-bottom: 50px;
}

#alargaCelda {
	padding-right: 415px;
}

.error {
	color: #B81315;
}

/*
 * INICIO
 */

#tituloInicio {
	margin: 20 0 0 10px;
}

#tituloInicio p {
	margin: 15px 0 15px 36px;
}

#contenedorInicio {
	height: 300px;
}

#nuevoInicio, #revisaInicio {
	width: 401px;
	height: 150px;
	float: left;
}

#contenedorInicio h3 {
	margin-left: 15px;
}

#contenedorInicio p {
	margin-left: 70px;
	width: 300px;
	text-align: justify;
}

#contenedorInicio a {
	text-decoration: none;
	background: transparent;
	color: #9B9B9B;
}

#logoNuevo {
	float: left;
    height: 60px;
    width: 62px;
    background: #fff url('../../imagenes/ic_nuevoticket.png') 0 0 no-repeat;
}

#logoRevisa {
	float: left;
    height: 70px;
    width: 63px;
    background: #fff url('../../imagenes/ic_estadodeticket.png') 0 0 no-repeat;
}

.btIni {
	padding-top: 9px;
	margin-left: 200px;
}

#form_busca {
	text-align: right;
}

/*
 * TICKET OK
 */

#exito {
	padding: 0 100px;
	margin-bottom: 100px;
}

/*
 * TICKET VIEW
 */

.clear {
	clear: both;
}

.refresh {
	background: url('../../imagenes/iconos/tickets/ic_refresh.png') 0 0 no-repeat;
}

#tabla_resumen p{
	margin: 10px 0 0 10px;
}

#tabla_resumen img {
	border: 0 none;
}

#tabla_resumen a {
	display: inline-block;
	width: 19px;
	height: 22px;
}

#Asunto {
	margin: 70px 0 0 10px;
}

.contenedor_resumen {
    float: left;
    width: 401px;
}

.resumen_ticket {
	text-align: left;
	margin: 0;
	color: white;
}

.resumen_ticket td, .resumen_ticket th {
	background-color: #a6a4a4;
	padding-left: 5px;
} 

#contenedor_respuesta {
	padding: 20px 0 40px 40px;
}

#contenedor_respuesta #adjunto {
	margin-bottom: 20px;
}

#historial {
	margin: 15px 0;
}

div.historial {
	background: transparent url('../../imagenes/iconos/tickets/ic_thread.png') no-repeat;
	width: 100%;
	height: 27px;
	margin-left: 10px;
}

div.historial p {
    border-left-width: 0;
    padding-left: 30px;
    padding-top: 5px;
}

.historial_table {
	margin: 5px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid;
}

.historial_table div {
	padding-left: 5px;
}

.encabezado {
	background-color: #A6A4A4;
	color: white;
}

.encabezado_staff {
	background-color: #313131;
	color: white;
}

/*
 * LISTADO
 */

.subMenu {
	background-color: #A6A4A4;
	margin-top: -1px;
}

.submenu ul {
	list-style: none;
	text-align: center;
}

.submenu ul li a {
	text-decoration: none;
	color: #313131;
	font-size: 14px;
	font-weight: bold;
	line-height: 70px;
	height: 50px;
	display: block;
	margin: 8px 50px 0;
	width: 85px;

}

#listaTitulo {
	margin: 20px 0 10px 40px;
}

#listado {
	width: 90%;
}

.listado_table {
	border: 1px solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.listado_table th {
	background-color: #A6A4A4;
	color: white;
}

.listado_table td {
	padding-left: 5px;
}

a.abierto {
	background: transparent url('../../imagenes/iconos/tickets/ic_abierto.png') center top no-repeat;
}

a.cerrado {
	background: transparent url('../../imagenes/iconos/tickets/ic_cerrados.png') center top no-repeat;	
}

a.actualizar {
	background: transparent url('../../imagenes/iconos/tickets/ic_todos.png') center top no-repeat;
}

a.espera {
	background: transparent url('../../imagenes/iconos/tickets/espera.png') center top no-repeat;
}

/*
 * FUENTES
 */

@font-face {
	font-family: 'Gisha';
	src: url('fonts/Gisha/ufontscomgisha.eot');
	src: url('fonts/Gisha/ufontscomgisha.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Gisha/ufontscomgisha.woff') format('woff'),
			 url('fonts/Gisha/ufontscomgisha.ttf') format('truetype'),
			 url('fonts/Gisha/ufontscomgisha.svg#gothic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PTSansBold/pts75f.eot');
	src: url('fonts/PTSansBold/pts75f.eot?#iefix') format('embedded-opentype'),
			 url('fonts/PTSansBold/pts75f.woff') format('woff'),
			 url('fonts/PTSansBold/pts75f.ttf') format('truetype'),
			 url('fonts/PTSansBold/pts75f.svg#gothic') format('svg');
	font-weight: normal;
	font-style: normal;
}